.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Executables
*.exe
*.out
*.app.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Executables
*.exe
*.out
*.app

# java
*.class

# idea
.idea/*
*.idea/*
/Homework/.idea/.gitignore
/Homework/.idea/Homework.iml
/Homework/Homework.iml
/java_code.iml
/Homework/.idea/misc.xml
/Homework/.idea/modules.xml
/Homework/.idea/vcs.xml
Homework/0509/0509.iml
Homework/0509/.idea/.gitignore
Homework/0509/.idea/misc.xml
Homework/0509/.idea/modules.xml
Homework/0509/.idea/vcs.xml
